.container {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    li {
      width: 150px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 1px 1px 10px gray;

      &:hover {
        & > img {
          width: 110px;
          transition: all 0.1s;
        }
      }

      .skills-img {
        width: 100px;
      }
    }
  }
}
